// Contexts
// -------------------------

%context-dark {
  color: $white;

  #{headings()} {
    color: $white;
  }

  a {
    @include link(inherit, $primary);
  }
  
  // Icons
  a.icon-gray-darker {
    color: $white;
    
    &:hover {
      color: $primary;
    }
  }
  
  // Buttons
  .button-link {
    &:hover {
      color: $white;
    }
  }

  .link-primary {
    color: $primary;

    &:hover {
      color: $white;
    }
  }

  // Lists
  .list-primary {
    > li > a {
      color: $primary;

      &:hover {
        color: $white;
      }
    }
  }

  // Blurb
  .blurb__title {
    color: $white;
  }

  .blurb-circle {
    &,
    .blurb-circle__icon .icon {
      color: $white;
    }
  }

  .blurb-minimal {
    color: $body-color;
  }

  // Countdown
  .countdown-default {
    .countdown-section {
      border-color: $white;
    }

    .countdown-period,
    .countdown-amount {
      color: $white;
    }
  }

  // Counters
  .box-counter {
    color: $primary;
  }

  .box-counter__title,
  .box-counter__icon {
    color: $white;
  }

  // Progress bars
  .progress-linear,
  .progress-circle-title,
  .progress-circle-counter {
    color: $white;
  }

  // Thumbnails
  .thumb__title {
    color: $white;

    a {
      &:hover {
        color: $primary;
      }
    }
  }

  // Comment minimal
  .comment-minimal__link {
    a {
      color: $white;
      &:hover {
        color: $primary;
      }
    }
  }

  .list-terms-minimal {
    color: $body-color;
  }

  .button-gray-light-outline {
    @include btn-variant($white, transparent, $white, $white, $primary, $primary);
  }

  // Swiper
  .swiper-pagination-bullet {
    background: rgba($gray-2, .8);
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: $white;
  }
  
  .swiper-pagination-bullet:hover,
  .swiper-pagination-bullet-active {
    background: $white;
  }
}

%context-light {
  #{headings()} {
    color: $headings-color;
  }

  @include media-breakpoint-down(xl) {
    .parallax-header {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($gray-3, .33);
      }
    }
  }
}

.context-dark {
  @extend %context-dark;
}

.context-light {
  @extend %context-light;
}

// Background colors
//
.bg-default {
  @include bg-behaviour($white);
}

.bg-accent {
  @include bg-behaviour($primary);
  @extend %context-dark;
  .button-primary {
    @include btn-variant($black, $white, $white, $white, $black, $black);
  }

  .button-black {
    @include btn-variant($white, $black, $black, $black, $white, $white);
  }

  .button-gray-light-outline {
    @include btn-variant($white, transparent, $white, $black, $white, $white);
  }

  // Box counter
  .box-counter {
    color: $white;
  }

  // Heading decorated
  .heading-decorated {
    &::before {
      background: $white;
    }
  }

  // Divider
  .divider-small {
    background: $white;
  }

  // Progress bars
  .progress-linear-modern {
    .progress-bar-linear-wrap {
      &:after {
        background: $white;
      }
    }
  }

  // Blurb
  .blurb-minimal {
    &,
    .blurb-minimal__icon .icon {
      color: $white;
    }
  }
}

.bg-gray-dark {
  @extend %context-dark;
  @include bg-behaviour($gray-dark);
  color: $body-color;
}

.bg-black {
  @extend %context-dark;
  @include bg-behaviour($black);
}

.bg-gray-darker {
  @extend %context-dark;
  @include bg-behaviour($gray-darker);
  color: $body-color;
}

.bg-black {
  @include bg-behaviour($black);

  .blurb__title {
    color: $white;
  }
}

.bg-gray-lighter {
  @extend %context-light;
  @include bg-behaviour($gray-lighter);
}

// Background image
//
.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-image-bottom {
  background-position: center bottom;
}

.bg-image-2 {
  background-image: url("../images/bg-image-2.jpg");
}

.bg-image-3 {
  background-image: url("../images/bg-image-3.jpg");
}

.bg-image-4 {
  @extend %context-dark;
  background-image: url("../images/bg-image-4.jpg");
}

.bg-image-6 {
  @extend %context-dark;
  background-image: url("../images/bg-image-6.jpg");
}

.bg-fixed {
  .desktop & {
    @include media-breakpoint-up(lg) {
      background-attachment: fixed;
    }
  }
}