//
// Custom modal
// --------------------------------------------------

.modal-dialog_custom {
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;

  .modal-dialog__inner {
    position: relative;
    padding: 60px 20px 30px;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background: $white;
  }

  * + .rd-mailform {
    margin-top: 30px;
  }

  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 60px);
    .modal-dialog__inner {
      padding: 60px 30px 30px;
    }
  }
}

.ie-10,
.ie-11 {
  .modal-dialog_custom {
    display: block;
    vertical-align: middle;
    white-space: nowrap;

    > * {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      white-space: normal;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      min-height: inherit;
      width: 0;
    }
  }
}