.products-slider {
  .container {
    position: relative;
  }

  .products-carousel {
    overflow: hidden;
    margin-top: 60px;

    .swiper-slide {
      margin-bottom: auto;
    }

    .post-minimal {
      width: 100%;
    }

    a {
      h6 {
        margin-top: 25px;
        transition: 0.3s ease-in-out;
        white-space: normal;
        line-height: 1.55;
      }

      &:hover {
        h6 {
          color: #f9b707;
        }
      }
    }

    &__image {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 2px;
      overflow: hidden;
    }
  }

  .products-slider-nav {
    position: absolute;
    font-size: 42px;
    cursor: pointer;

    &::before {
      transition: 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        color: $primary;
      }
    }

    &.products-carousel-nav-right {
      right: -50px;
      top: 50%;
    }

    &.products-carousel-nav-left {
      left: -50px;
      top: 50%;
    }
  }
}

