.welcome {
  &__heading {
    @extend h1;
  }
  .swiper-container {
    @include mq(0, 767) {
      min-height: 600px;
    }
  }
  .swiper-slide {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(3, 3, 14, 0.7);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
